<%- include('header')%>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">active data </h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>hospital name</th>
                        <th>doctor name</th>
                        <th>patient name</th>
                        <th>patient diagnosis</th>
                        <th>patient addresss</th>
                        <th>Status</th>
                      
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% var no = '1'; for(var p of activedata) {%>                    
                        <tr>
                          <th scope="row"><%= no ++ %></th>
                          <td><%= p.hospitalid.hname %></td>
                          <td><%= p.doctorid.name %></td>
                          <td><%= p.pname%></td>                                              
                          <td><%= p.pdiagnosis%></td>                                              
                          <td><%= p.paddress%></td>                                              
                          <td><a href="/patient/deactive/<%=p.id%>">deactive</a></td>                  
                         
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
              <!-- deactive data -->
              <div class="card mt-5">
                <h5 class="card-header">deactive data </h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>hospital name</th>
                        <th>doctor name</th>
                        <th>patient name</th>
                        <th>patient diagnosis</th>
                        <th>patient addresss</th>
                        <th>Status</th>                       
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% var no = '1'; for(var p of deactivedata) {%>                    
                        <tr>
                          <th scope="row"><%= no ++ %></th>
                          <td><%= p.hospitalid.hname %></td>
                          <td><%= p.doctorid.name %></td>
                          <td><%= p.pname%></td>                                              
                          <td><%= p.pdiagnosis%></td>                                              
                          <td><%= p.paddress%></td>                                              
                          <td><a href="/patient/active/<%=p.id%>">active</a></td>                  
                         
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              
    <!-- Core JS -->
    <%- include('footer')%>

  </body>
</html>
