<%- include('header')%>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              
              <form>
                <input type="text" name="search" id="">
                <input type="submit" name="" id="">
              </form>
              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">active datas</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>hospital name</th>
                        <th>hospital address</th>
                        <th>hospital city</th>
                        <th>status</th>                       
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% var no = '1'; for(var h of activedata) {%>                      
                        <tr>
                          <th scope="row"><%= no ++ %></th>
                          <td><%= h.hname %></td>
                          <td><%= h.haddress%></td>                                              
                          <td><%= h.hcity%></td>                      
                          <td><a href="/deactive/<%=h.id%>">deactive</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                  <% for(var j=1 ; j<= countdata; j++) {%>
                    <a href="?page=<%=j%>&search=<%=searchrecord%>"><%=j%></a>
                <% } %>  
                </div>
              </div>
              <!-- deactive data -->
              <div class="card mt-5">
                <h5 class="card-header">deactive datas</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>hospital name</th>
                        <th>hospital address</th>
                        <th>hospital city</th>
                        <th>status</th>                      
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% var no = '1'; for(var h of deactivedata) {%>                      
                        <tr>
                          <th scope="row"><%= no ++ %></th>
                          <td><%= h.hname %></td>
                          <td><%= h.haddress%></td>                                              
                          <td><%= h.hcity%></td>                      
                          <td><a href="/active/<%=h.id%>">active</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

              
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <%- include('footer')%>
  </body>
</html>
